<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Hello {{ name }},</p>
    <p>We noticed that you haven't visited our platform in the last 24 hours. We encourage you to log in and explore the latest updates.</p>
    <p>Remember, staying connected helps you make the most of our services.</p>
    <p>Best regards,</p>
    <p>Ticketbooking</p>
</body>
</html>